
<button class="btn btn-success" id="add-person">Add Person</button>
<input type="text" class="form-control" 
       style="display: inline-block;margin-left: 10px; width: 300px;" placeholder="Size" id="size"/>
<button class="btn btn-danger" style="margin-left: 10px;" id="add-people">Add People</button>
<br/>

<table class="table table-hover table-striped" id="people-table">
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Age</th>
    </tr>
</table>

@section scripts
{
    <script src="/Scripts/index.js"></script>
}