<div class="row">
    <div class="col-md-6 col-md-offset-3 well">
        <input type="text" id="input" class="form-control" placeholder="Enter text to be reversed" />
        <br />
        <button class="btn btn-primary btn-block" id="reverse">Reverse</button>
        <br />
        <input type="text" id="output" class="form-control" />
        <br />
    </div>
</div>

@section scripts {
    <script src="/Scripts/reverse.js"></script>
}